/node_modules
/storage/*.key
/vendor
/resources/css/Admin.osTicket.css
.env
.env.backup
npm-debug.log
yarn-error.log
yarn.lock
composer.lock
package-lock.json
**/.DS_Store

/public/build
/public/storage
/public/hot
/public/js/
/public/css/
/public/fonts/
/public/mix-manifest.json
/*.log
/public/*.js
/public/*.js.map
/report

/docker/mysql/*.sql
